* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html, body {
	height: 100%;
	margin: 0;
}
body {
	/*-webkit-box-align: center;
	-ms-flex-align: center;*/
	align-items: center;
	/*display: -webkit-box;
	display: -ms-flexbox;*/
	display: flex;
	font-family: -apple-system, 
	BlinkMacSystemFont, 
	"Segoe UI", 
	Roboto, 
	Oxygen-Sans, 
	Ubuntu, 
	Cantarell, 
	"Helvetica Neue", 
	sans-serif;
	font-family: 'Berkshire Swash', cursive;

	/* font-family: 'Lobster', cursive;*/
	/*background: #fff url('countdown.jxr') 0 0 no-repeat;*/
	background-color: #fff;
	background-image: url('OIP.jpg');
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	justify-content: center;
	align-items: center;
}
.container {
	margin: 0 auto;
	padding: 0.5rem;
	text-align: center;
	color: #fff;
}
h1 {
	font-weight: bold;
	font-size: 5.2rem;
	color: yellow;
}
ul {
	margin-top: 30px;
}
li {
	list-style-type: none;
	display: inline-block;
	/*vertical-align: top;*/
	/*zoom: 1;*/ /* Fix for IE7 */
	/**display: inline;*/ /* Fix for IE7 */
	padding: 1rem;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.7em;
	color: blue;
}
li span {
	display: block;
	font-size: 5rem;
	font-family: 'Anton', sans-serif;
	font-family: 'Roboto Mono', monospace;
}

/*@media all and (max-width: 800px) {
	h1 {
		font-size: 1.5rem;
	}
	
	li {
		font-size: 1.125rem;
	}
	
	li span {
		font-size: 3.375rem;
	}
}*/